.section {
    text-align: center;
    border: 1px solid red;
    border-radius: 20%;
    background-color: rgb(24, 24, 24);
    color: white;
    position: relative; /* Ensure it can contain the pseudo-element */
    overflow: hidden; /* Hide overflow for gradient */

}

.section img {
    width: 100%;
    border-radius: 20%;
    transition: transform 1s ease;
    display: block; /* Remove inline space below the image */
}

.section:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    background: linear-gradient(to bottom, green 0%, transparent 50%, green 100%);
    mix-blend-mode: multiply; /* Blend the gradient with the image */
    pointer-events: none; /* Allow interaction with elements below */
    z-index: 1; /* Ensure it is above the image */
}

.section h1,
.section address,
.section p {
    position: relative; /* Ensure content is above the pseudo-element */
    z-index: 2;
}
